<% for comment in object %>
  <li style="list-style-type:none">
  <div class="comment">
    <%= render "comments/info", :object => [comment] %>
    <hr class="comm">
      <%= comment.body %>

      <% if comment.comments.length > 0 %>
        <ul>
          <%= render "comments/comment", :object => comment.comments.chrono %>
        </ul>
      <% end %>
    </div>
  </li>
<% end %>

