<div class="displayopt">
  <table>
    <tr>
      <td>
        <a onclick="showme('drop')">Most Popular</a>
        <div id="drop" class="dropdown" valign="bottom">
          <ul class="opt">
            <li><a href="/daily">Today</a></li>
            <li><a href="/weekly">This Week</a></li>
            <li><a href="/monthly">This Month</a></li>
            <li><%= link_to "All Time", root_path %></li>
          </ul>
        </div>
      </td>

      <td valign="top">
        <a href="/newest">Newest</a>
      </td>
    </tr>
  </table>
</div>




<%= render "stories/info", :object => @stories %>

<%= will_paginate @stories %>
