<% Story.chrono.each do |story| %>

  <div class="story">
    <%= link_to story.title, story.url %> <font size="-2">(<%= story.url %>)</font>
    <div class="info">
      Submitted on <%= story.created_at.to_s(:custom_date) %>
    </div>      
  </div>
<% end %>
