body {
  background-color:#EEE;
}

.header { 
  margin-left:50px;
  margin-right:50px;
  text-decoration:none; 
  background-color:#66CCFF;
  font-family:Courier, monospace;
}

.header a:link, a:visited {
  text-decoration:none;
  color:#FF3300;
}

.content {
  margin-left:100px;
  font-family: 'Arial';
  padding:10px
}

.content a:link {
  color:#00F;
  text-decoration:none;
}

.content a:hover {
  text-decoration:underline;
}

.content a:visited {
  color:#777
}

.story {
  padding:10px;
}

.info {
  color:#777;
  font-size:8pt;
}

.error {
  color:red;
}

.url {
  font-size:8pt
}

.comment {
  font-family: "Times",
  font-size:10pt;
  margin-bottom:5px
}
