body {
  background-color:#EEE;
}


ul.comments {
  list-style-type: none;
  padding:0px;
  margin: 0px;
  font-size: 10pt
}

hr.comm {
  width: 100%;
}

.header { 
  margin-left:50px;
  margin-right:50px;
  text-decoration:none; 
  background-color:#66CCFF;
  font-family:Courier, monospace;
}

.header a:link, a:visited {
  text-decoration:none;
  color:#FF3300;
}

.content {
  margin-left:100px;
  font-family: 'Arial';
  padding:10px
}

.content a:link {
  color:#00F;
  text-decoration:none;
}

.content a:hover {
  text-decoration:underline;
}

.content a:visited {
  color:#777
}

.story {
  padding:10px;
}

.info {
  color:#777;
  font-size:8pt;
}

.error {
  color:red;
}

.url {
  font-size:8pt
}

.comment {
  width: 400px;
  font-family: "Times",
  font-size:8pt;
  padding-bottom:5px
}

.upvote {
  height: 20px;
  width: 10px:
}
