body {
  background-color:#99DCDD;
}

ul {
  list-style-type: none;
  padding:0px;
  margin: 0px;
  font-size: 10pt;
  text-indent: 0px;
}


li {
  text-indent: 5px;
  padding: 10px;
}

hr.comm {
  width: 100%;
}

.header { 
  margin-left:50px;
  margin-right:50px;
  text-decoration:none; 
  background-color:#303131;
  font-family: "Open Sans", bold;
}

.header a:link, a:visited {
  text-decoration:none;
  color:#54E4EA;
}

.content {
  margin-left:100px;
  font-family: 'Open Sans';
  padding:10px
}

.content a:link {
  color:#264F51;
  text-decoration:none;
}

.content a:hover {
  text-decoration:underline;
}

.content a:visited {
  color:#49B8BD;
}

.story {
  padding:0px;
}

.info {
  color:#777;
  font-size:8pt;
}
.info a:link {
  color:#777;
}
.info a:visited {
  color:#777;
}

.error {
  color:red;
}

.url {
  font-size:8pt
}

.showcomment {
  font-size:10pt;
}

.dropdown { 
  display:none;
}
.dropdown ul li {
  padding-bottom: 0px;
}

